body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header, .section-one {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
    padding-left: 150px;
    padding-right: 150px;
    
}
header {
    display: flex;
    
}
.links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}
#hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 10px;
}
#hero-secondary {
    margin-bottom: 10px;
}
#logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}
.section-one {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}
#section-one-image {
    width: 450px;
    height: 225px;
    background-color: grey;
    text-align: center;
    line-height: 225px;
    margin-left: 40px;
}

.section-two {
    display: flex;
    flex-direction: column;
}

#section-two-header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 24px;
}

.image-container, .text-container {
    display: flex;
    justify-content: center;
}

.images {
    border: 3px solid rgb(53, 118, 238);
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-bottom: 5px;
    border-radius: 12px;
}

.text-container > div {
    width: 100px;
    margin: 23px;
    margin-top: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 10px;
}

.section-three {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

#quote {
    font-style: italic;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 25px;
    font-size: 24px;
}

#quote-author {
    text-align: center;
    font-weight: bold;
    margin-left: 650px;
}

.signup {
    width: 150px;
    height: 40px;
    font-size: 18px;
}

.section-four {
    background-color: white;
    padding: 50px 0; 
}

.section-four-content {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px 50px; 
    background-color: rgb(53, 118, 238);  
    border-radius: 8px; 
    color: white;
    display: flex;
}

.section-four-header {
    font-size: 24px; 
    font-weight: bold; 
    
}

.section-four-text {
    font-size: 18px; 
}

.section-four-content .signup {
    width: 125px;
    height: 33px;
    font-size: 15px;
    margin-left: auto;
    align-self: center;
}