body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header, .section-one {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
    padding-left: 150px;
    padding-right: 150px;
    
}
header {
    display: flex;
    
}
.links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}
#hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
#logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}
.section-one {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}
#section-one-image {
    width: 450px;
    height: 225px;
    background-color: grey;
    text-align: center;
    line-height: 225px;
    margin-left: 40px;
}

.section-two {
    display: flex;
    flex-direction: column;
}

#section-two-header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 24px;
}

.image-container, .text-container {
    display: flex;
    justify-content: center;
}

.images {
    border: 3px solid rgb(53, 118, 238);
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-bottom: 5px;
    border-radius: 12px;
}

.text-container > div {
    width: 100px;
    margin: 23px;
    margin-top: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 10px;
}